@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: emerald --default;
}

:root {
  --color-primary: #244d3f;
  --color-primary-content: #ffffff;
  --color-neutral: #000000;
  --color-base-200: #f8fafc;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--color-base-200);
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.fade {
  opacity: 0;
  animation: fade-animation 0.2s linear forwards;
}
@keyframes fade-animation {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.recharts-legend-wrapper {
  bottom: -20px !important;
}
.recharts-surface {
  border-radius: 50% !important;
}
.recharts-legend-item-text {
  text-transform: capitalize;
}
